@import "../../styles/setting";

.input {
  margin-bottom: 2rem;
  @include afs(16px, 16px, 14px);
  color: $grey_dark;
  padding: 0.5rem;
  width: 100%;
  position: relative;
  border-bottom: 2px solid $grey_light;
}
.input::placeholder {
  color: $grey_light;
}
.input-icon {
  position: relative;
  img {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    width: 24px;
  }
}

.select {
  position: relative;
  margin-bottom: 2rem;
  width: 100%;
  img {
    position: absolute;
    top: 1rem;
    right: 0.5rem;
  }
}
select {
  @include afs(16px, 16px, 14px);
  color: $grey_light;
  padding: 0.5rem;
  padding-right: 2rem;
  width: 100%;
  border-bottom: 2px solid $grey_light;
  -moz-appearance: none;
  -webkit-appearance: none;
  option {
    color: $grey_light;
  }
}

.checkbox {
  input[type="checkbox"]:checked,
  input[type="checkbox"]:not(:checked),
  input[type="radio"]:checked,
  input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }

  input[type="checkbox"]:checked + label,
  input[type="checkbox"]:not(:checked) + label,
  input[type="radio"]:checked + label,
  input[type="radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
  }

  input[type="checkbox"]:checked + label:before,
  input[type="checkbox"]:not(:checked) + label:before,
  input[type="radio"]:checked + label:before,
  input[type="radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
  }

  input[type="checkbox"]:checked + label:before,
  input[type="checkbox"]:not(:checked) + label:before,
  input[type="radio"]:checked + label:before,
  input[type="radio"]:not(:checked) + label:before {
    border-radius: 2px;
  }

  input[type="checkbox"]:checked + label:after,
  input[type="checkbox"]:not(:checked) + label:after,
  input[type="radio"]:checked + label:after,
  input[type="radio"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  input[type="checkbox"]:checked + label:after,
  input[type="checkbox"]:not(:checked) + label:after,
  input[type="radio"]:checked + label:after,
  input[type="radio"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 11px;
    height: 6px;
    border-radius: 1px;
    border-left: 2px solid $grey_dark;
    border-bottom: 2px solid $grey_dark;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  input[type="checkbox"]:not(:checked) + label:after,
  input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
  }

  input[type="checkbox"]:checked + label:after,
  input[type="radio"]:checked + label:after {
    opacity: 1;
  }
}
