{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": [
    "react",
    "@typescript-eslint",
    "prettier",
    "jsx-a11y"
  ],
  "rules": {
    "react/no-string-refs": "error",
    "@typescript-eslint/explicit-member-accessibility": "error",
    "react/no-direct-mutation-state": "error",
    "react/no-array-index-key": "error",
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-explicit-any": "error",
    "react/prop-types": "off",
    "@typescript-eslint/ban-types": "off",
    "no-alert": "error",
    "no-console": "warn",
    "prefer-destructuring": "error",
    "@typescript-eslint/explicit-module-boundary-types": "error",
    "max-len": ["error", {"code": 100, "ignoreUrls": true, "ignoreStrings": true, "ignoreTemplateLiterals": true, "ignoreRegExpLiterals": true}],
    "no-plusplus": "off",
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true
      }
    ]
  },
  "env": {
    "browser": true,
    "jasmine": true,
    "jest": true,
    "node": true
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  }
}
