@import "../../../styles/setting";

.method {
  text-transform: uppercase;
  display: flex;
  font-weight: 300;
  cursor: pi;
  div {
    padding: 0.125rem 0.5rem;
  }
  .active {
    font-weight: 500;
    border-bottom: 2px solid $main;
    color: $main;
  }
}

.socials {
  display: flex;
  justify-content: center;
  .social_item {
    @include size(48px);
    margin-right: 1rem;
    &:last-child {
      margin-right: 0px;
    }
    img {
      width: 100%;
    }
  }
}

/*Email submit*/
.email-submit {
  .main {
    @include mq($TableWidth, min) {
      padding: 4rem 6rem;
    }
  }
  @include mq($SmPhoneWidth, max) {
    .title {
      @include afs(26px, 26px, 24px, 10px);
    }
  }
}
/*Email submit*/
