// breakepoints
$DesktopWidth: 1440px ;
$SmDesktopWidth: 992px ;
$BigTabletWidth: 1024px;
$TableWidth: 768px ;
$PhoneWidth: 576px ;
$SmPhoneWidth: 450px ;

// colors
$main: #0039a6 ;
$primary: #10388c ;
$secondary: #15152a ;

// color (от команды React)
$white: #fff ;
$homeMain: #E5E5E5;
$black: #202021 ;
$light_grey: #f4f4f4 ;
$background: #fff ;
$background_2: #e5e5e5;
$gray: #51515c ;
$grizzly: #c1c1c2;
$hover: #81aaf8 ;
$gray_text: #c1c1c2;

$grey_dark: #555556;
$grey_light: #C6CACC;
//=========================

// Button colors (от команды React)
$btnOrange: #f36e5c ;
$btnBlack: #1a1a1d ;
// ================================

// Message colors (от комадны React)
$successText: #270;
$successBg: #dff2bf;
$infoText: #059;
$infoBg: #bef;
$warningText: #9f6000;
$warningBg: #feefb3;
$errorText: #d8000c;
$errorBg: #ffbaba;
// ================================

// Loaders
$loader: #337ab7;
// ================================

// font-sizes


