@import '../../styles/setting';

.email-submit {
  position: relative;
  padding-top: 1rem;
  width: 100%;
}

.email-submit {
  .main {
    @include mq($TableWidth, min) {
      padding: 4rem 6rem;
    }
  }
  @include mq($SmPhoneWidth, max) {
    .title {
      @include afs(26px, 26px, 24px, 10px);
    }
  }
}

